---
permalink: /rss.xml
eleventyExcludeFromCollections: true
title: Mert Biricik's Blog Feed
description: The latest posts from Mert Biricik's personal blog on full stack development, data science, and cybersecurity.
---<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ title }}</title>
  <subtitle>{{ description }}</subtitle>
  <link href="{{ metadata.url }}/feed.xml" rel="self"/>
  <link href="{{ metadata.url }}/"/>
  <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}/</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.blog | reverse %}
  {%- set absolutePostUrl = post.url | url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    <author>
      <name>{{ post.data.author or metadata.author.name }}</name>
    </author>
  </entry>
  {%- endfor %}
</feed>